body,html{
    padding:0; margin: 0;
    background: #dfdfdf;
    font-family: "Open Sans", sans-serif;
    height: 100%;
    background: #263238;
    overflow: hidden;
}

#canvas{
    width: 100%;
    height: 100%;
}

#fps{
    position:absolute;
    top:6px;
    left:6px;
    z-index: 10;
    color: white;
    opacity: .8;
}